/**
 * 清除ul ol的样式 
 */

ul,
ol,
ul li,
ol li {
    list-style: none !important;
}


/* 初始化 */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: none;
}


/**
 * 设置行高 
 */

div,
p,
a {
    text-decoration:none; 
}

// @font-face{
//     font-family: 'hyjh50';
//     src : url('./font/hyjh50j.ttf');
// }
// @font-face{
//     font-family: 'CadillacSerif-Regular';
//     src : url('./font/CadillacSerif-Regular.otf');
// }

//全局变量 （命名会被覆盖） css modules
:global(.demo) {
    width: 100%;
}
/* body 样式*/

body {
    font-family: "hyjh50","CadillacSerif-Regular";
    margin: 0 auto;
    background: #fff;
    color: #333333 !important;
    &.modal-open {
        position: fixed;
        width: 100%;
    }
}